<div class="footer">
    <!-- <a href="/about">About Us</a> -->
    <a href="/contact">Contact Us</a>
    <a href="/partnerships">Partner With Us</a>
    <br >
    <div class="social">
        <span class="fa-stack fa-md">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        <span class="fa-stack fa-md">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-md">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
    </div>
</div>
