.footer {
    padding: 50px;
    color: #ccc;
    display: flex;
    justify-content: space-between;
}

.footer a, .footer a:hover  {
    font-weight: lighter;
    color: #ccc;
}

.footer-links a, .footer-links a:hover  {
    display: block;
}

.social a {
    padding: 5px;
}

.footer .right {
    margin-top: auto;
}