<div class="footer">
    <!-- <a href="/about">About Us</a> -->
    <div class="left">
      <div class="footer-links">
          <a href="/contact">Contact Us</a>
          <a href="/partnerships">Partner With Us</a>
      </div>
      <br >
      <div class="social">
          <a href="https://www.facebook.com/TEDxUMN/">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/tedxumn/">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
      </div>
    </div>
    
    <div class="right">
      <a href="https://www.contentful.com/" rel="nofollow" target=“_blank”><img src="https://images.contentful.com/fo9twyrwpveg/7Htleo27dKYua8gio8UEUy/0797152a2d2f8e41db49ecbf1ccffdaa/PoweredByContentful_DarkBackground_MonochromeLogo.svg" style="max-width:100px;width:100%;" alt="Powered by Contentful" /></a>
    </div>
</div>
