<div class="footer">
    <!-- <a href="/about">About Us</a> -->
    <div class="left">
      <a href="/contact">Contact Us</a>
      <a href="/partnerships">Partner With Us</a>
      <br >
      <div class="social">
          <span class="fa-stack fa-md">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          <span class="fa-stack fa-md">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-md">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-youtube fa-stack-1x"></i>
          </span>
      </div>
    </div>
    
    <div class="right">
      <a href="https://www.contentful.com/" rel="nofollow" target=“_blank”><img src="https://images.contentful.com/fo9twyrwpveg/7Htleo27dKYua8gio8UEUy/0797152a2d2f8e41db49ecbf1ccffdaa/PoweredByContentful_DarkBackground_MonochromeLogo.svg" style="max-width:100px;width:100%;" alt="Powered by Contentful" /></a>
    </div>
</div>
