<div class="partnership text-center">
  <div class="center-large">
    <h1>CONTACT US</h1>
  </div>
</div>


<div class="sponsors text-center">
  <h2>We are happy you're interested!</h2>
  <hr>
  <p>
    The fastest way of contacting the team is through <a href="https://m.me/TEDxUMN">Facebook Messenger</a>.
  </p>

  <hr>
  <br>

  <iframe class="container" height="517"
  allowTransparency="true"
  frameborder="0"
  scrolling="no"
  style="width:100%;border:none"
  src="https://tedxumn.wufoo.com/embed/z106lgn21ixya9u/">
<a href="https://tedxumn.wufoo.com/forms/z106lgn21ixya9u/">
Fill out our contact us form.
</a>
</iframe>
  <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">
</div>
                
      
  
</div>