<div class="partnership text-center">
    <div class="center-large">
      <h1>PARTNER WITH US</h1>
    </div>
    <p>Our event would not be possible without the support of our amazing sponsors.</p>
</div>
  

<div class="sponsors text-center">
    <h2>THANK YOU</h2>
    <hr>
    <div class="container sponsors-list">
      <div *ngFor="let partner of partners" class="sponsor-item">
        <a href="partner.fields.linkAddress">
          <img src="{{partner.fields.logo.fields.file.url }}" class="img-fluid">
        </a>
      </div>
    </div>
</div>