<div class="partnership text-center">
    <div class="center-large">
      <h1>PARTNER WITH US</h1>
    </div>
    <p>Our event would not be possible without the support of our amazing sponsors.</p>
    <hr>
    <h3>ABOUT OUR TEAM</h3>
</div>
  

<div class="sponsors text-center">
    <h2>THANK YOU</h2>
    <hr>
    <div class="container sponsors-list">
        <div class="row">
            <div class="sponsor-item col-md-4">
              <a href="http://www.teslaworks.net">
                <img src="http://www.teslaworks.net/assets/images/originals/logo_light.png" class="img-fluid">
              </a>
            </div>
            <div class="sponsor-item col-md-4">
              <a href="http://www.teslaworks.net">
                <img src="http://www.teslaworks.net/assets/images/originals/logo_light.png" class="img-fluid">
              </a>
            </div>
            <div class="sponsor-item col-md-4">
              <a href="http://www.teslaworks.net">
                <img src="http://www.teslaworks.net/assets/images/originals/logo_light.png" class="img-fluid">
              </a>
            </div>
          </div>
    </div>
   
</div>