<div class="header text-center">
    <div class="center-large">
        <h1>Meet The Team</h1>
    </div>
</div>
    
<div class="container">
    <div class="header column">
        <img src="/assets/useThis.jpg" style="width:200px; height:200px;">
        <h3>SPENCER</h3>
        <h6>Chief People Officer</h6>
        <p>Loves Turkish Street Food</p>
    </div>
    <div class="header column">
        <img src="/assets/useThis.jpg" style="width:200px; height:200px;">
        <h3>LUCAS</h3>
        <h6>Director</h6>
        <p>Loves to Micro Manage</p>
    </div>
    <div class="header column">
        <img src="/assets/useThis.jpg" style="width:200px; height:200px;">
        <h3>PRAJ</h3>
        <h6>Chief Technology Officer</h6>
        <p>Sometimes can be a bit loud</p>
    </div>
</div>
<div class="container">
    <div class="column">Joanna</div>
    <div class="column">Jillian</div>
</div>