<div class="about text-center">
    <div class="center-large">
      <h1>ABOUT US</h1>
    </div>
    <hr />
    <p>TEDxUMN has a passion for bringing together the great thinkers at the University of Minnesota and giving them the opportunity to share their ideas worht spreading and discuss our shared future. We provide these great people the opportunity to share these ideas on a global stage and with an incredibly diverse audience. We believe in the power of ideas to change attitudes, lives, and ultimately the world.</p>
    <button type="button" class="btn btn-primary">JOIN THE TEAM</button>
  
  </div>
  
  <div *ngIf="teamGroups">
      <div *ngFor="let group of teamGroups" class="teamMembers text-center">
          <h2 class="text-capitalize">{{group.fields.groupName}}</h2>
          <hr />
          <div class="teamMembers-list">
            <div class="teamMember" *ngFor="let teamMember of group.fields.members">
              <img src="{{ teamMember.fields.profilePicture.fields.file.url }}" />
              <h3>{{ teamMember.fields.name }}</h3>
              <!-- <span>{{ teamMember.fields.position }}</span> -->
            </div>
          </div>
      </div>
  </div>