<div class="event-lineup" [class.event-dark]="!left">
  <div class="row">
      <div *ngIf="left" class="col-md-4">
          <img src="{{ eventLogo }}" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="speaker-entry" *ngFor="let speaker of speakers">
          <a href="{{speaker.link}}">
              <h5>{{speaker.name}}  <small *ngIf="speaker.title">| "<i>{{speaker.title}}</i>"</small></h5>
              <p>{{speaker.time}}</p>
          </a>
        </div>
      </div>
      <div *ngIf="!left" class="col-md-4">
          <img src="{{ eventLogo }}" class="img-fluid">
      </div>
  </div>
</div>
