<div class="events-cta text-center">
    <h1>THEME</h1>
    <p>05 | 02 | 18</p>
    <button type="button" class="btn btn-primary">BUY TICKETS</button>
  
  </div>
  
  <div class="speakers text-center">
      <h2>SPEAKERS</h2>
      <div class="speakers-list">
        <div class="speaker" *ngFor="let speaker of speakers">
          <img src="{{ speaker.image }}" />
          <h3>{{ speaker.name }}</h3>
        </div>
      </div>
  </div>

  <app-event-lineup [left]="true"></app-event-lineup>
  <app-event-lineup></app-event-lineup>
  <app-event-lineup [left]="true"></app-event-lineup>
