.events-cta {
    color: black;
    background-color: gray;
    padding: 10vh 0;
    background-image: url('/assets/theme.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 110%;
}

.events-cta .btn-primary {
    color: black;
    border-color: black;
}

.events-cta .btn-primary:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.events-cta h1 {
    font-size: 10vw;
    font-weight: lighter;
    margin-bottom: 0;
}

.events-cta p {
    margin: 0 0 30px;
    font-weight: lighter;
}

.speakers {
    padding: 50px;
}

.speakers h2 {
    color: gray;
    font-weight: 200;
    padding: 5px 0 15px;
}

.speakers-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.speaker {
    width: 150px;
    height: 150px;
    background-color: white;
    position: relative;
    margin: 5px;
}

.speaker img {
    width: 150px;
    height: 150px;
}

.speaker h3 {
    text-align: left;
    position: absolute;
    left: 5px;
    bottom: -5px;
    color: white;
    text-shadow: -1px 0 #333,0 1px #333,1px 0 #333,0 -1px #333;
}

hr {
    margin: 50px 0px;
    border-top: 1.5px solid white
}

.selected-speaker {
    position: relative;
}

.selected-speaker .speaker-name {
    position: absolute;
    top: -25px;
    left: 30px;
    background-color: black;
    color: white;
    padding: 0 20px;
}

.selected-speaker markdown {
    color: white;
    text-align: left;
}

@media (max-width: 575px) { 
    hr {
        display: none;
    }

    .selected-speaker .speaker-name {
        position: relative;
        background-color: transparent;
        color: white;
        padding: 20px 0;
        left: 0;
        top: 0;
    }
    
    .selected-speaker markdown {
        color: white;
        text-align: left;
    }

}