<div class="events-cta">
  <div *ngIf="events[0]" class="events-header">
      <img src="/assets/ComingWave_Website.jpg" class="img-fluid" />
      <span style="width:100%" class="label">
          <p style="padding-left:20%">Friday May 3rd</p>
          <p style="padding-left:20%">5:30 PM – 10:00 PM | McNamara Alumni Center</p>
          <a style="margin-left:20%" href="https://www.eventbrite.com/e/tedxumn-a-tale-of-twin-cities-tickets-39941907320" class="btn btn-primary">
            Purchase Tickets Here
          </a>
      </span>
  </div>
    <div class="speakers-header text-center ">
      <h2 style="color: black">Speakers</h2>
      <div *ngIf="events[0]" class="speakers text-center container">
        <div class="speakers-list">
          <div *ngFor="let speaker of events[0].fields.speakers">
              <div class="speaker" (click)="selectSpeaker(speaker)">
                  <img src="{{ speaker.fields.profileImage.fields.file.url }}" />
                  <p>{{ speaker.fields.name }}</p>
                </div>
                <div *ngIf="selectedSpeaker && selectedSpeaker == speaker" class="selected-speaker container">
                    <h3 class="speaker-name">{{selectedSpeaker.fields.name}}</h3>
                    <markdown [data]="selectedSpeaker.fields.biography"></markdown>
                </div> 
          </div>
        </div>
    </div>
  </div>

  <div class="divider text-center">
    <h2 style="color: white">Past Events</h2>
  </div>

  <app-event-lineup *ngFor="let event of events | slice:1; let even = even" [event]="event" [left]="even"></app-event-lineup>
</div>
