.events-cta {
    color: white;
    background-color: #f1f1f1;   
}

.events-header {
    position: relative;
}

.label {
    color: white;    
    position: absolute;
    left: 8%;
    top: 60%;
}

.label p {
    line-height: 20%;
}

.events-cta .btn-primary:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.events-cta h1 {
    font-size: 10vw;
    font-weight: lighter;
    margin-bottom: 0;
}

.events-cta p {
    margin: 0 0 30px;
    font-weight: lighter;
}

.divider {
    padding: 25px;
    width: 100%;
    background: rgba(1, 1, 1, 0.9);
}

.speakers-header {
    padding-top: 25px;
    padding-bottom: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
}

.speakers {
    padding-bottom: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

.speakers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.speaker {
    width: 250px;
    background-color: white;
    position: relative;
    margin: auto;
}

.speaker img {
    width: 100%;
    padding-bottom: 5px;
}

.selected-speaker {
    position: relative;
    
}

.selected-speaker .speaker-name {
    text-align: left;
}

.selected-speaker markdown {
    color: black;
    text-align: left;
}

/* @media (max-width: 575px) {  */
@media only screen and (max-width : 575px) {
    .speaker, .speaker img {
        width: 80vw;
        height: inherit;
    }

    hr {
        display: none;
    }
}

@media only screen and (max-width : 768px) {
    
    .events-cta {
        padding: 0;
        background-attachment: inherit;
        background-size: cover;
        background-image: initial;
    }

    .events-header {
        color: black;
        background-image: url('/assets/microphone.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-position-y: 35%;
        background-size: 25%;
        background-color: #f1f1f1;
    }

    
}