<div class="events-cta">
  <div *ngIf="events[0]" class="events-header text-center">
    <h1>Open Mic</h1>
    <p>Thursday, January 25th
      <br />
      6-8pm | Coffman Memorial Union Theater
    </p>
    <a href="https://goo.gl/forms/GqiXHojDPWx9vF1p1" class="btn btn-primary">Register to Speak</a>
    <a href="https://www.eventbrite.com/e/tedxumn-open-mic-a-tale-of-twin-cities-tickets-39748909057?aff=efbeventtix" class="btn btn-primary">Reserve a Seat</a>
  
  </div>
  <div class="divider text-center">
    <h2 style="color: white">Past Events</h2>
  </div>
  
  <!-- <div *ngIf="events[0]" class="speakers text-center">
      <h2>SPEAKERS</h2>
      <div class="speakers-list">
        <div class="speaker" (click)="selectedSpeaker = speaker" *ngFor="let speaker of events[0].fields.speakers">
          <img src="{{ speaker.fields.profileImage.fields.file.url }}" />
          <h3>{{ speaker.fields.name }}</h3>
        </div>
      </div>
      <div *ngIf="selectedSpeaker" class="selected-speaker">
          <hr/>
          <h1 class="speaker-name">{{selectedSpeaker.fields.name}}</h1>
          <markdown [data]="selectedSpeaker.fields.biography"></markdown>
      </div>
      
  </div> -->

  <app-event-lineup *ngFor="let event of events; let even = even" [event]="event" [left]="even"></app-event-lineup>
</div>
