<div class="involvement">
    <div class="row">
        <div class="square square-btn col-md-6 text-center team">
            <button type="button" class="btn btn-primary">APPLICATION<br />FORM</button>
        </div>
        <div class="square col-md-6">
          <h2>Join </h2>
          <h2>the </h2>
          <h2>Team </h2>
          <hr style="text-align:left;margin-left:0">
          <h3>ABOUT US</h3>
        </div>
    </div>
    <div class="row">
        <div class="square col-md-6 text-right">
            <h2>Recommend </h2>
            <h2>Speaker</h2>
            <br />
            <hr style="text-align:right;margin-right:0">
            <p>If there is anyone you would like to see at a future TEDxUMN event, please feel free to leave their information with us.</p>
          </div>
        <div class="square square-btn col-md-6 text-center speaker">
            <button> type="button" class="btn btn-primary">SPEAKER<br />RECOMMENDATION<br />FORM
                <a> href="https://m.me/TEDxUMN" </a>
            </button>   
        </div>
    </div>
</div>
