.involvement {
    color: white;
}

.involvement .square {
    height: 50vw;
    padding: 30px;
    position: relative;
} 

.involvement .square h2 {
    font-size: 4rem;
    font-weight: lighter;
}

.involvement .square hr {
    width: 40vw;
    border: none;
    height: 1px;

    /* Set the hr color */
    color: red; /* old IE */
    background-color: red; /* Modern Browsers */
}

.involvement .square left {
    text-align:left;
    margin-left:0;
}

.involvement .square right {
    text-align:right;
    margin-right: 0;
}

.involvement .square h3 {
    color: red;
    font-weight: lighter;
}

.involvement .square-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.involvement .square-btn button {
    background-color: rgba(255, 255, 255, 0.25);
}

.involvement .square-btn button:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid white;
}

.team {
    background-image: url('/assets/Get_JoinTeam.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.speaker {
    background-image: url('/assets/c.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width : 768px) {
    .square h2 {
        display: inline-block;
        padding-right: 5px;
    }

    .involvement .square hr {
        width: 90vw;
    }

    .involvement .square {
        height: inherit;
        padding: 30px;
        position: relative;
        text-align: left !important;
    } 

    .involvement .square hr {
        text-align: left !important;
        margin-left: 0;
        margin-right: inherit !important;
    } 

    .involvement .square-btn {
        height: 50vh;
        padding: 30px;
        position: relative;
        order: -1;
    } 
}