body {
    background-color: black;
}

h2 {
    color: gray;
    font-weight: 200;
    padding: 5px 0 15px;
}

.btn-primary {
    /* color: transparent; */
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
}

.btn-primary:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border-color: white
}
.btn-primary:focus {
    box-shadow: initial;
}