.home-cta {
    color: white;
    background-color: gray;
    padding: 5% 0 15%;
    background-image: url('/assets/Home_background.jpg');
    background-position: center;
    background-size: auto;
    height: 100vh;
    background-repeat: no-repeat;
}

.info-text {
    width:100%;
    padding-left:20%;
    padding-right:20%;
    padding-top:100px;
    padding-bottom:0;
    font-size:24px;
}
.home-cta .center-large h1 {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: normal;
    margin-top:0px;
}

.home-cta hr {
    width: 40vw;
    border: none;
    height: 3px;

    /* Set the hr color */
    color: red; /* old IE */
    background-color: red; /* Modern Browsers */
}

.home-cta p {
    margin: 7px 0 15px;
}

@media (max-width: 8300px) {
    .info-text {
        padding-left:10%;
        padding-right:10%;
        padding-top:50px;
        font-size:20px;
    }

    .home-cta .center-large h1 {
        font-size:85px;
    }
}

@media (max-width:450px) {
    .info-text {
        width:100%;
        padding-left:10%;
        padding-right:10%;
        padding-top:50px;
        padding-bottom:0;
        font-size:18px;
    }

    .home-cta .center-large h1 {
        font-size: 70px;
    }
}