<div class="home-cta text-center">
  <div class="center-large">
    <h1>The Coming Wave</h1>
  </div>
  <hr />
  <div style="margin-bottom:20px">
    This year's event aims to unite the Twin Cities Community and have conversation around 
    navigating our complex society
  </div>
  <!--<markdown [data]="button[0].fields.description"a *ngIf="button[0]"></markdown>-->
  <a *ngIf="button[0]" href="{{button[0].fields.url}}" class="btn btn-primary">{{ button[0].fields.title }}</a>

</div>
<div class="speakers-carousel"></div>