<div class="home-cta text-center">
  <div class="center-large">
    <h1>The Coming Wave</h1>
  </div>
  <div class="info-text">
    <p class="first">
      Saturday May 11th | 5:30 PM - 10:00 PM | McNamera Alumni Center
    </p>
    <br>
    <p>
        We are surrounded by thousands of cultures, emerging technologies, and ideas. The next generation of thinking, acting, and learning is upon us. 
        TEDxUMN's 2019 conference brings The Coming Wave of innovation and cultural change to the forefront of discourse with the aim of bringing the diverse Twin Cities community together.
         Regardless of our color, creed, religion, race, or orientation, The Coming Wave will wash over all of us.

    </p>
    <a *ngIf="button[0]" href="{{button[0].fields.url}}" class="btn btn-primary">View Details</a>
    <a id="tickets-button" href="https://www.eventbrite.com/e/tedxumn-2019-the-coming-wave-tickets-55183367939" class="btn btn-primary">Purchase Tickets</a>
  </div>
  <!--<markdown [data]="button[0].fields.description"a *ngIf="button[0]"></markdown>-->
</div>
<div class="speakers-carousel"></div>