<div class="home-cta text-center">
  <div class="center-large">
    <h1>The Coming Wave</h1>
  </div>
  <div class="info-text">
    <p class="first">
      Saturday May 11th | 5:30 PM - 10:00 PM | McNamera Alumni Center
    </p>
    <br>
    <p>
      This year's event aims to unite the Twin Cities Community and have conversation around 
      navigating our complex society.
    </p>
    <a *ngIf="button[0]" href="{{button[0].fields.url}}" class="btn btn-primary">View Details</a>
    <a id="tickets-button" href="https://www.eventbrite.com/e/tedxumn-2019-the-coming-wave-tickets-55183367939" class="btn btn-primary">Purchase Tickets</a>
  </div>
  <!--<markdown [data]="button[0].fields.description"a *ngIf="button[0]"></markdown>-->
</div>
<div class="speakers-carousel"></div>