.home-cta {
    color: white;
    background-color: gray;
    padding: 5% 0 15%;
    background-image: url('/assets/Home_background.jpg');
    background-position: top left;
    background-size: cover;
    /* /height: 100vh; */
    background-repeat: no-repeat;
}
.home-cta .center-large {
   padding: 5% 0 2% 0;
}

.home-cta .center-large h1 {
    text-transform: uppercase;
    font-size: 15vw;
    font-weight: normal;
}

.home-cta hr {
    width: 40vw;
    border: none;
    height: 3px;

    /* Set the hr color */
    color: red; /* old IE */
    background-color: red; /* Modern Browsers */
}

.home-cta p {
    margin: 7px 0 15px;
}

@media (min-width: 768px) { 
    .home-cta .center-large h1 {
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: normal;
    }
}